/* Responsive for Mobile */
@media (max-width: 600px) {

    h1 {
        font-size: 1.5rem;
        height: 4rem;
        line-height: 4rem;
    }

    .choices {
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .choice {
        height: 110px;
        width: 110px;
        margin: auto;
    }

    img {
        height: 100px;
        width: 100px;
    }

    .score-board {
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
    }

    #msg {
        font-size: 1.2rem;
        padding: 0.8rem;
    }
}
