*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(32, 32, 88);
    color: white;
    height: 5rem;
    line-height: 5rem;

}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    text-align: center;
   
}
.choice:hover{
    transform: scale(1.3);
}
img{
     height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choices{
    display:flex;
    justify-content:center;
    text-align: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#compScore, #userScore{
    font-size: 4rem;
}
#msg{
    background-color: rgb(34, 34, 51);
    color: white;
    font-size:40px;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 4rem;
}